* {
    box-sizing: border-box;
}

body {
    margin: 0; 
}

header {
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #090979;
    color: #fff;;
}

header h1 {
    padding-left: 30px;

}

header ul {
    padding: 25px;
}


header ul li {
    display: inline;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar ul {
  padding-left: 5px;

}

.sidebar {
    width: 20%;
    background-color: #222286;
    color: white;
    
}

.sidebar ul li {
    padding: 12px;
    font-size: 22px;
    list-style: none;
    position:relative;
}

main {
    width: 100%;
    border: 2px solid blue;
    background-color: #F5F5F5;
    padding: 30px;
    
}

main h1 {
    border-bottom: 0.5px solid #414a4c;
    padding: 20px;
    font-size: 40px;

}

.welcome h3 {
    font-size: 40px;
    border-bottom:  0.5px solid #414a4c;
    padding: 20px;
}



.overview {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 22px;
}


.overview .card {
    border: 2px solid black;
    height: 250px;
    width: 80px;
    text-align: center;
    margin: 12px;
    color: #fff;
    font-size: 34px;
    padding-top: 20px;
    /* border-radius: 12px; */
}

.card-1 {
    background-color: #00D4FF;
    flex: 1
}

.card-2 {
    background-color: #FCB045;
    flex: 1
}

.card-3 {
    background-color: #57C785;
    flex: 1
}

.recent h3 {
    font-size: 34px;
    padding-left: 50px;

}

.recent ul li {
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    background-color: #fff;
    list-style: none;
    height: 60px;
    font-weight: bolder;
    text-align: left;
}

.links h2 {
    margin-top: 40px;
    font-size: 32px;
}

.links button {
    margin: 10px;
    height: 80px;
    width: 200px;
    background-color: #fff;
    font-weight: bolder;
    font-size: 21px;
}

/* Create CSS variables in :root (colors + spacing) */
