* {
    box-sizing: border-box;
}

body {
    margin: 0; 
     
    
}

header {
    display: flex;
    height: 80px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #0047AB;
    color: #fff;;
}

header h1 {

}

header ul {
    padding: 25px;
}


header ul li {
    display: inline;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: #0056b3;
    color: white;
    
}

.sidebar ul li {
    padding: 10px;
}

main {
    width: 100%;
    border: 2px solid blue;
    background-color: #F5F5F5;
}

.overview {
    
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    padding: 10px;
    
}

.overview .card {
    border: 2px solid black;
    height: 100px;
    width: 270px;
    text-align: center;
    /* border-radius: 12px; */
}

.card-1 {
    background-color: #00D4FF;
}

.card-2 {
    background-color: #FCB045;
}

.card-3 {
    background-color: #57C785;
}

/* Create CSS variables in :root (colors + spacing) */
